@keyframes expand {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
}

@keyframes logoAnimation {
  40% {
    opacity: 1;
    transform: translateX(-80%);
    filter: drop-shadow(0 0 20px hsl(205, 90%, 40%));
  }

  50% {
    opacity: 0;
    transform: translateX(60%);
  }

  60% {
    opacity: 0;
    transform: translateX(-120%);
    filter: brightness(150%);
  }

  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
  }
}

#root {
  --background-color-hsl: 205, 40%, 95%;

  --a4-ratio: 210 / 297;

  /* form variables */
  --form-primary-color: 205, 100%, 30%;
  --form-highlight-color: 205, 50%, 95%;
  --form-text-color: 205, 40%, 30%;
  --form-background: 0, 0%, 100%;
  --form-stroke: 205, 20%, 70%;

  --input-background: 205, 25%, 95%;
  --input-stroke: 205, 20%, 90%;
  --input-focus-stroke: 205, 100%, 80%;

  position: relative;
  background-color: hsl(var(--background-color-hsl));
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

#root * {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(205, 40%, 95%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(205, 70%, 70%);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(205, 70%, 60%);
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  min-height: 90vh;
  width: 40%;
  padding-bottom: 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  padding: 2rem 0 1rem;
  color: hsl(var(--form-primary-color));
}

.site-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  gap: 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.site-name svg {
  width: 2rem;
}

.header:hover svg {
  animation: logoAnimation 1s ease-in-out;
}

.site-tagline {
  font-size: 0.9rem;
}

.form-accordion {
  width: 100%;
  max-width: 600px;
  color: hsl(var(--form-text-color));
  background: hsl(var(--form-background));
  border: 1px solid hsl(var(--form-stroke));
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.form-accordion.expanded .form {
  animation: expand 200ms ease-out;
}

.form-accordion .arrow {
  transition: transform 200ms ease;
}

.form-accordion.collapsed .arrow {
  transform: rotate(0);
}

.form-accordion.expanded .arrow {
  transform: rotate(-180deg);
}

.form-accordion svg {
  width: 1.5rem;
  aspect-ratio: 1;
}

.form-accordion > .label-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background: none;
  border: none;
  color: inherit;
  border-radius: 10px;
  font-weight: 600;
  transition: background 200ms ease;
}

.form-accordion > .label-button:hover,
.form-accordion.expanded > .label-button {
  background: hsl(var(--form-highlight-color));
  box-shadow: inset 0 0 0 0.3rem white;
}

.form-accordion > .label-button:hover {
  cursor: pointer;
}

.form-accordion .label {
  margin-right: auto;
}

.form {
  padding: 1rem 1.5rem 1.5rem;
  transition: max-height 200ms ease;
  font-size: 0.9rem;
}

.collapsed .form {
  overflow: hidden;
  padding: 0;
  max-height: 0px;
}

.input-label {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.input-label input {
  background: hsl(var(--input-background));
  border: 1px solid hsl(var(--input-stroke));
  border-radius: 5px;
  outline: none;
  color: inherit;
  padding: 0.3rem 0.5rem;
}

.input-label input:focus {
  box-shadow: 0 0 0 2px hsl(var(--input-focus-stroke));
}

#personal-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.full-name-container {
  grid-column: 1 / span 2;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.full-name-container label:not(:nth-child(3)) {
  flex: 1;
  min-width: 200px;
}

.full-name-container label:nth-child(3) {
  min-width: 3rem;
  width: 3rem;
}

#personal-information label:nth-child(2),
#personal-information label:last-child {
  grid-column: 1 / span 2;
}

#profile-summary {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#work-experience,
#education {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.item-accordion {
  border: 1px solid hsl(var(--form-stroke));
  border-radius: 10px;
}

.item-accordion.expanded .item-content {
  animation: expand 200ms ease-out;
}

.item-accordion .label-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0.2rem;
}

.item-content {
  padding: 0.3rem 1rem 1rem;
}

.item-accordion.collapsed .item-content {
  overflow: hidden;
  padding: 0;
  max-height: 0;
}

.item-accordion .label {
  font-weight: 600;
  flex: 1;
  padding: 0.6rem;
}

.textarea-input {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
}

.delete-button {
  background: none;
  border: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  cursor: pointer;
}

.delete-button:hover {
  color: hsl(0, 100%, 25%);
  transition: color 200ms ease;
}

.work-experience-item,
.education-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.add-item-button {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  font-weight: 600;
  color: hsl(var(--form-primary-color));
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.add-item-button:hover {
  filter: brightness(120%);
}

#skills {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.item-input {
  display: flex;
  gap: 0.5rem;
  border: 1px solid hsl(var(--form-stroke));
  border-radius: 10px;
  padding: 0.4rem;
}

.item-input input {
  flex: 1;
}

.item-input-link {
  display: flex;
  gap: 0.8rem;
  border: 1px solid hsl(var(--form-stroke));
  border-radius: 10px;
  padding: 0.4rem;
}

.input-link-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.item-input-link .delete-button {
  align-self: start;
}

.section-buttons-container {
  display: flex;
  justify-content: end;
  gap: 0.8rem;
}

#more {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#more .item-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.section-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input {
  background: hsl(var(--input-background));
  border: 1px solid hsl(var(--input-stroke));
  border-radius: 5px;
  outline: none;
  color: inherit;
  padding: 0.3rem 0.5rem;
}

input:focus {
  box-shadow: 0 0 0 2px hsl(var(--input-focus-stroke));
}

textarea {
  background: hsl(var(--input-background));
  border: 1px solid hsl(var(--input-stroke));
  border-radius: 5px;
  outline: none;
  color: inherit;
  padding: 0.3rem 0.5rem;
  resize: none;
}

textarea:focus {
  box-shadow: 0 0 0 2px hsl(var(--input-focus-stroke));
}

/* CV Container styles */

.cv-container {
  position: sticky;
  top: 2rem;
  --height: min(90vh, 297mm);
  height: var(--height);
  width: calc(var(--height) * var(--a4-ratio)); /* A4 dimensions */
  container-type: inline-size;
}

.preview-size {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  color: hsl(var(--form-text-color));
}

.resume {
  /* resume variables */
  --resume-primary-color: 205, 100%, 30%;
  --resume-text-color: 205, 10%, 30%;
  --resume-sidebar-color: 205, 25%, 95%;
  --resume-separator-color: 205, 30%, 70%;

  --sidebar-text-color: 205, 50%, 30%;

  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 1em;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  color: hsl(var(--resume-text-color));
  font-size: 16pt;
  padding: 2em;
  overflow-y: auto;
}

@container (width < 209mm) {
  .resume {
    font-size: 1.85cqh;
  }
}

.resume-header {
  grid-column: 1 / span 2;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.full-name {
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: hsl(var(--resume-primary-color));
}

.job-title {
  font-size: 0.7em;
  letter-spacing: 0.15em;
  color: hsl(var(--resume-primary-color));
}

.resume-heading {
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: hsl(var(--resume-primary-color));
}

.main-content {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.resume-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.resume-section:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -0.8em;
  width: 100%;
  border-top: 0.1em dashed hsl(var(--resume-separator-color));
}

.profile-summary {
  font-size: 0.55em;
}

.profile-summary,
.description {
  line-height: 1.4em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background: hsl(var(--resume-sidebar-color));
  padding: 1em;
  border-radius: 0 0.5em 0.5em 0;
  color: hsl(var(--sidebar-text-color));
  max-width: 11em;
}

.sidebar li {
  text-wrap: wrap;
  overflow-wrap: anywhere;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  font-size: 0.55em;
  gap: 1em;
}

.contact-info {
  display: flex;
  font-size: inherit;
  gap: 0.6em;
  text-wrap: wrap;
  overflow-wrap: anywhere;
}

.contact-info svg {
  width: 1.5em;
  min-width: 1.5em;
  aspect-ratio: 1;
}

.experience {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.3em;
  font-size: 0.55em;
}

.company,
.school {
  font-weight: 600;
}

.position,
.course {
  grid-column: 1 / span 2;
  margin-top: -0.2rem;
}

.description {
  grid-column: 1 / span 2;
  margin: 0;
  padding: 0 0 0 2em;
}

.sidebar-list {
  font-size: 0.55em;
  margin: 0;
  padding: 0 0 0 2em;
}

.buttons-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  right: 2rem;
  bottom: 2rem;
}

.buttons-container button {
  display: grid;
  place-content: center;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  cursor: pointer;
}

.buttons-container button svg,
.toggle-preview-button svg {
  width: 1.5rem;
  aspect-ratio: 1;
}

button.toggle-preview-button {
  color: hsl(205, 100%, 25%);
  display: none;
}

button.clear-button {
  color: hsl(0, 100%, 25%);
}

.clear-button:hover {
  box-shadow:
    0 0 0 2px hsl(0, 100%, 25%),
    0 4px 4px rgba(0, 0, 0, 0.25);
}

button.reset-button,
button.download-button {
  color: hsl(205, 100%, 25%);
}

.reset-button:hover,
.download-button:hover {
  box-shadow:
    0 0 0 2px hsl(205, 100%, 25%),
    0 4px 4px rgba(0, 0, 0, 0.25);
}

button.print-button {
  background: hsl(205, 100%, 25%);
  color: white;
}

.print-button:hover {
  background: hsl(205, 100%, 35%);
  box-shadow:
    0 0 0 2px white,
    0 4px 4px rgba(0, 0, 0, 0.25);
}

.credits {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  color: hsl(var(--form-text-color));
  font-size: 0.9rem;
}

.credits svg {
  width: 1.5rem;
  aspect-ratio: 1;
}

.credits a {
  display: flex;
  gap: 0.2rem;
  color: inherit;
  text-underline-offset: 4px;
}

@media screen and (max-width: 1200px) {
  #root {
    align-items: center;
  }

  .cv-container.hide,
  .form-container.hide {
    display: none;
  }

  .cv-container.show {
    display: block;
  }

  .form-container.show {
    display: flex;
  }

  .form-container {
    width: 60%;
    min-height: 80vh;
  }

  button.toggle-preview-button {
    display: grid;
  }
}

@media screen and (max-width: 800px) {
  a,
  button,
  input,
  textarea {
    -webkit-tap-highlight-color: transparent;
  }

  textarea {
    field-sizing: content;
    min-height: 5rem;
  }

  .form-container {
    width: 80%;
    min-height: 80vh;
    padding-bottom: 10rem;
  }

  button.toggle-preview-button {
    display: grid;
  }

  #root {
    padding: 1rem;
    padding-bottom: 5rem;
  }

  .cv-container {
    position: initial;
    height: auto;
    width: 90vw;
    aspect-ratio: var(--a4-ratio);
  }

  @container (width < 209mm) {
    .resume {
      font-size: 3cqw;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-around;
    right: auto;
    bottom: 0;
    padding: 1rem;
    background: hsl(var(--background-color-hsl));
    border: 1px solid hsl(var(--form-stroke));
    width: 100%;
    flex-direction: row;
  }

  .full-name-container {
    flex-direction: column;
  }

  #personal-information,
  .work-experience-item,
  .education-item {
    display: flex;
    flex-direction: column;
  }

  input {
    min-width: 0;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
  }
}

@media print {
  .resume {
    overflow: visible;
    box-shadow: none;
  }

  .resume-section:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -0.8em;
    width: 100%;
    border-top: 1px dashed hsl(205, 30%, 70%);
  }
}

.resume.save-pdf {
  width: 210mm;
  height: 297mm;
  margin-left: auto;
  margin-right: auto;
  font-size: 17pt;
}
