#root {
  --background-color-hsl: 205, 40%, 95%;

  --a4-ratio: 210 / 297;

  /* resume variables */
  --resume-primary-color: 205, 100%, 30%;
  --resume-text-color: 205, 10%, 30%;
  --resume-sidebar-color: 205, 25%, 95%;
  --resume-separator-color: 205, 30%, 70%;


  background-color: hsl(var(--background-color-hsl));
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

#root * {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.form-container {
  min-height: 90vh;
  width: 40%;
}

.cv-container {
  --height: min(90vh, 297mm);
  height: var(--height);
  width: calc(var(--height) * var(--a4-ratio)); /* A4 dimensions */
  container-type: inline-size;
}

.resume {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 1em;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  color: hsl(var(--resume-text-color));
  font-size: 16pt;
  padding: 2em;
}

@container (width < 209mm) {
  .resume {
    font-size: 1.9cqh;
  }
}

.resume-header {
  grid-column: 1 / span 2;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.full-name {
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: hsl(var(--resume-primary-color));
}

.job-title {
  font-size: 0.8em;
  letter-spacing: 0.15em;
  color: hsl(var(--resume-primary-color));
}

.resume-heading {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: hsl(var(--resume-primary-color));
}

.main-content {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.main-content-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.main-content-section:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: -0.8em;
  width: 100%;
  border-top: 0.1em dashed hsl(var(--resume-separator-color));
}

.profile-summary {
  font-size: 0.6em;
}

.sidebar {
  background: hsl(var(--resume-sidebar-color));
}