#root {
  --background-color-hsl: 205, 40%, 95%;

  --a4-ratio: 210 / 297;

  background-color: hsl(var(--background-color-hsl));
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.form-container {
  min-height: 90vh;
  width: 40%;
}

.cv-container {
  min-height: 90vh;
  width: calc(90vh * var(--a4-ratio)); /* A4 dimensions */
}